.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 2rem;
}
.center {
    display: flex;
    justify-content: center; // Centrer horizontalement
    align-items: center; // Centrer verticalement
    text-align: center; // Centrer le texte à l'intérieur
}